# IntruShield Backend Environment Variables

# HTTP & Server Port
PORT=5000

# Security & JWT Token Signatures
JWT_SECRET=intrushield-secret-key-soc-2026

# Database Path (Optional override)
# DB_PATH=./intrushield.sqlite
